<footer class="mt-auto bg-light py-3 text-center">
    <div class="d-md-flex justify-content-around align-items-center">
        <p class="mb-0 col">© 2024 Next Read. All rights reserved.</p>
        <!-- social-links -->
        <div class="col d-flex justify-content-center mt-md-0 mt-3">
            <a class="btn-social" href="https://twitter.com/khoumaDev"><i class="bi bi-twitter-x"></i></a>
            <a class="btn-social" href="https://www.linkedin.com/in/serigne-khouma/"><i class="bi bi-linkedin"></i></a>
            <a class="btn-social" href="https://github.com/227Faddi/next-read"><i class="bi bi-github"></i></a>
            <a class="btn-social" href="https://faliloukhouma.com/"><i class="bi bi-person-fill"></i></a>
        </div>
    </div>
</footer>