<header class="mt-auto bg-light py-3 text-center">
    <div class="d-md-flex justify-content-around align-items-center">
        <h1 class="mb-0 col"><i class="bi bi-bookmark-heart-fill"></i> Next Read</h1>
        <div class="col d-flex justify-content-center mt-md-0 mt-3">
            <a href="<%= link %>" class="text-white btn btn-dark me-3"><%= name %></a>
            <a href="/auth/logout" class="text-white btn btn-dark" id="logout">Logout</a>
        </div>
    </div>
</header>