<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs', { title: 'Login', link:
    'https://leads-track.onrender.com/login' }) %>
  </head>
  <body>
    <header class="mt-auto bg-light py-3 text-center">
      <div class="d-md-flex justify-content-around align-items-center">
        <h2 class="mb-0 col">
          <i class="bi bi-bookmark-heart-fill"></i> Next Read
        </h2>
        <div class="col"></div>
      </div>
    </header>
    <div class="d-flex flex-column min-vh-100">
      <div
        class="d-flex flex-column justify-content-center align-items-center flex-grow-1 py-5"
      >
        <div class="container">
          <h1
            class="bg-dark text-white p-3 rounded-3 border border-3 border-white text-center"
          >
            Sign In
          </h1>
          <!-- Lead Form -->
          <form action="/auth/login" method="POST" class="text-white">
            <div class="mb-2">
              <label class="p-2 fw-bold" for="email">Email:</label>
              <input
                type="email"
                id="email"
                class="form-control"
                placeholder="guest@gmail.com"
                name="email"
                required
              />
            </div>
            <div class="mb-2">
              <label class="p-2 fw-bold" for="password">Password:</label>
              <input
                type="password"
                id="password"
                class="form-control"
                placeholder="helloworld"
                name="password"
                required
              />
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-dark mt-3">Sign In</button>
              <a href="/dashboard" class="btn btn-dark mt-3">Cancel</a>
            </div>
          </form>
          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el =>
          { %>
          <div class="alert alert-danger mt-5"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
          <div class="alert alert-danger mt-5"><%= el.msg %></div>
          <% }) %> <% } %>
        </div>
      </div>
      <!-- FOOTER -->
      <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
