@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

html, body{
  width: 100%;
  height: 100vh
}

body{
  font-family: "Poetsen One", sans-serif !important;
  background-image: url(/assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

a{
  text-decoration: none;
  color: black;
}

img{
  display: block;
  margin: 0 auto;
}

.hidden{
  display: none !important;
}

.app{
  max-width: 600px;
  border-radius: 2em;
  border: 0.5em solid #4e3b2b;
  padding: 2em;
  margin: 1em;
  background-color:#FFF;
}

@media only screen and (min-width: 600px) {
  .app {
    padding: 4em;
  } 
}

#bookContainer{
  min-height: 500px;
}

#getBook,
#bookDetails{
  background-color:  #4e3b2b;
  color: #fff;
}

#bookCover{
  width: 150px;
}

.book{
  width: 230px;
}

.container {
  max-width: 600px;
}

.text-main{
  color: #4e3b2b;
}

footer{
  border-top: 5px solid #4e3b2b;
  color: #4e3b2b;
}

header{
  border-bottom: 5px solid #4e3b2b;
  color: #4e3b2b;
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #4e3b2b;
  color: #4e3b2b;
  margin: 0 0.25em;
}